.title-about-page{
    margin-top: 50px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
}


.row{
    display: flex;
}

.column{
    flex: 50%;
    padding: 50px 100px;
    text-align: center;
}

.pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 25px;
    overflow: hidden;
}
.pic img{
    width: 100%;
    height: auto;
}

.title{
    /*display: inline-block;*/
    font-family: Poppins;
    font-size: 19px;
    color: #001d33;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}

.post{
    /*display: inline-block;*/
    font-family: Poppins;
    font-size: 12px;
    color: #1c5acc;
    text-transform: uppercase;
}
.description{
    font-family: Poppins;
    font-size: 14px;
    color: #777;
    line-height: 27px;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
