@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.landing{
    padding: 50px 100px;
}


.title-landing-page{
    top: 30px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
}

.title{
    padding-top: 50px;
    font-family: Poppins;
    font-size: 20px;
    text-align: left;
    color: #6dabe4;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Poppins;
    justify-content: left;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.box{
    position: relative;
    width: 230px;
    height: 270px;
    margin: 10px;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    box-sizing: border-box;
}

.content .title-box-content a{
    text-decoration: none; !important;
    text-align: center;
    font-family: Poppins;
    font-size: 15px ;
    font-weight: bold;
    color: #4d4d4d;
}

.content .title-box-content label{
    text-decoration: none; !important;
    font-family: Poppins;
    font-size: 12px ;
    color: #9c9c9c;
}

.info-content div{
    text-align: left;
    font-size: 12px;
    color: #777777;
    padding-bottom: 8px;
}

.download-button{
    padding: 10px 20px;
    background-color: coral;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.info-content a{
    text-decoration: none; !important;
    font-family: Poppins;
    font-size: 12px ;
    color: #6dabe4;
}