/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.nav_li, .nav_a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links .nav_li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #4292dc;
}

.nav_button {
    padding: 15px 39px;
    background-color: #6dabe4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
}

.nav_button:hover {
    background-color: #4292dc;
}

.nav_button_my_profile{
    padding: 15px 39px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #6dabe4;
    text-decoration: none;
}

.logout_button{
    padding: 15px 39px;
    background-color: #5f6066;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

