<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
    <link rel="stylesheet" th:href="@{/navbar.css}" href="../static/navbar.css"/>

</head>
<body>
<div class="navbar">
    <header class="navbar-header">
        <a href="#" th:href="@{/}"><img class="logo" src="/logo.png" width="200px" height="45px" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li class="nav_li"><a class="nav_a" th:href="@{/search}">All Addons</a></li>
                <li class="nav_li"><a class="nav_a" th:href="@{/ides}" >IDEs</a>
                <li class="nav_li"><a class="nav_a" th:href="@{/about}">About</a></li>
            </ul>
        </nav>
        <a class="nav_a" href="/login" th:href="@{/login}" sec:authorize="!isAuthenticated()">
            <button class="nav_button">Sign in</button>
        </a>
        <a class="nav_a" href="#" th:href="@{/users/name/{username}(username=*{#authentication.name})}"
           sec:authorize="isAuthenticated()"><button class="nav_button_my_profile">My profile</button> </a>
        <a class="nav_a" href="/addons/new" th:href="@{/addons/new}"
           sec:authorize="isAuthenticated()" ><button class="nav_button">Publish Addon</button></a>
        <a class="nav_a" href="/logout" th:href="@{/logout}"
           sec:authorize="isAuthenticated()" method="post" ><button class="logout_button">Logout</button></a>

    </header>
</div>
</body>
</html>
