<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/about.css}" href="../static/about.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="title-about-page">
    <label>We are students at Telerik Academy and we are working together as a team to accomplish to accomplish the task of developing
    a web application.</label>
</div>
<div class="container">
    <div class="row">

                <div class="column">
                <div class="pic">
                    <img src="/DSC015015%20-%20Copy.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Alesandra Marinova</h3>
                    <p class="post">Junior Developer</p>
                    <p class="description">
                        Former Web Designer, I have decided to pivot my life path and become a web developer. I would like to combine the art of design with the art of programming.
                        Being a developer with design skills will allow me to have way more control and authority over each case and client.
                    </p>
                </div>
            </div>

         <div class="column">
                <div class="pic">
                    <img src="/avatar.png" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Nikolay Petrov</h3>
                    <span class="post">Junior Developer</span>
                    <p class="description">
                        A former Financial Analyst, who decided throw new NotImplementedException("Developer is too lazy to finish")
                    </p>
                </div>
            </div>

    </div>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>