<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/error.css}" href="../static/error.css">
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="error-body">

    <img src="/access-denied.png" >
    <h3 style="font-family: Poppins">You do not have the right to visit this page!</h3>

</div>

<div th:insert="fragments/footer.html"></div>
</body>
</html>