<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Addons</title>
    <link rel="stylesheet" th:href="@{/search-page.css}" href="../static/search-page.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navbar"></div>
<div class="search">
    <div class="search-row">
        <form th:action="@{/search}" class="search-box">
            <input th:type="hidden" th:name="ide" th:unless="${#httpServletRequest.getParameter('ide') == null}"
                   th:value="${#httpServletRequest.getParameter('ide')}">
            <input type="text" th:name="name" placeholder="Search addons by Name" class="searchTerm">
            <input th:type="hidden" th:name="sort" th:unless="${#httpServletRequest.getParameter('sort') == null}"
                   th:value="${#httpServletRequest.getParameter('sort')}">
            <button th:type="submit" value="Search" class="searchButton"><i class="fa fa-search"></i></button>
        </form>

        <div>
            <form th:action="@{/search}" class="sort-box">
                <input th:type="hidden" th:name="ide" th:unless="${#httpServletRequest.getParameter('ide') == null}"
                       th:value="${#httpServletRequest.getParameter('ide')}">
                <input th:type="hidden" th:name="name" th:unless="${#httpServletRequest.getParameter('name') == null}"
                       th:value="${#httpServletRequest.getParameter('name')}">
                <select style="color: #999" th:name="sort" class="sort-options">
                    <option  th:text="#{option.sort}"
                            th:value="null" selected></option>
                    <option th:text="#{option.sort.name}"
                            th:value="name"></option>
                    <option th:text="#{option.sort.downloads}"
                            th:value="downloads"></option>
                    <option th:text="#{option.sort.uploadDate}"
                            th:value="uploadDate"></option>
                    <option th:text="#{option.sort.commitDate}"
                            th:value="commitDate"></option>
                </select>
                <input type="submit" th:value="Sort" class="sortButton"/>

            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div th:each="addon:${addons}">
                <div class="box">
                    <div class="content">
                        <div class="title-box-content">
                            <a th:href="@{/addons/{id}(id=*{addon.getId()})}" th:text="${addon.getName()}"></a>
                            <label th:text="${addon.getIde()}"></label>
                        </div>
                        <label>
                            <span style="margin-right:0px"><i class="fa fa-star" aria-hidden="true"
                                                              style="color:gold"></i></span>
                            <span th:text="${addon.getRating()}"></span>
                        </label>

                        <div class="info-content">
                            <br>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                <span th:text="#{addons.header.downloads}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getNumberOfDownloads()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-angle-double-up"
                                                                 aria-hidden="true"></i></span>
                                <span th:text="#{addons.last.commit}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getLastCommitDate()}"></span>
                            </div>
                            <div>
                                <span style="font-size: 10px"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <span th:text="#{addons.upload.date}
                                +#{addons.symbols.dots}
                                +' '
                                +${addon.getUploadDate()}"></span>
                            </div>
                            <br>
                            <div>
                                <span><a th:href="@{/addons/{id}/downloadFile(id=${addon.id})}">
                                    <button class="download-button">Download</button></a></span>
                                <span><a th:href="@{/addons/{id}(id=*{addon.id})}">More Info</a></span>
                                <span><i style="color: #6dabe4" class="fa fa-long-arrow-right"
                                         aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-navigation">
    <div class="page-row">
        <div class="previous-box">
            <form th:action="@{/search}" th:if="${shouldShowPrevious}==true">
                <input th:type="hidden" th:name="ide" th:unless="${#httpServletRequest.getParameter('ide') == null}"
                       th:value="${#httpServletRequest.getParameter('ide')}">
                <input th:type="hidden" th:name="name" th:unless="${#httpServletRequest.getParameter('name') == null}"
                       th:value="${#httpServletRequest.getParameter('name')}">
                <input th:type="hidden" th:name="sort" th:unless="${#httpServletRequest.getParameter('sort') == null}"
                       th:value="${#httpServletRequest.getParameter('sort')}">
                <input th:type="hidden" th:name="page"
                       th:value="${pages}-1">
                <button type="submit" class="button-left"><i style="margin-right: 5px" class="fa fa-arrow-left" aria-hidden="true"></i>Previous
                    Page
                </button>
            </form>
        </div>
        <div class="next-box">
            <form th:action="@{/search}" th:if="${shouldShowNext}==true">
                <input th:type="hidden" th:name="ide" th:unless="${#httpServletRequest.getParameter('ide') == null}"
                       th:value="${#httpServletRequest.getParameter('ide')}">
                <input th:type="hidden" th:name="name" th:unless="${#httpServletRequest.getParameter('name') == null}"
                       th:value="${#httpServletRequest.getParameter('name')}">
                <input th:type="hidden" th:name="sort" th:unless="${#httpServletRequest.getParameter('sort') == null}"
                       th:value="${#httpServletRequest.getParameter('sort')}">
                <input th:type="hidden" th:name="page"
                       th:value="${pages}+1">
                <button type="submit" class="button-right"><i style="margin-right: 5px" class="fa fa-arrow-right" aria-hidden="true"></i>Next Page
                </button>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>