<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Addon</title>
    <link rel="stylesheet" th:href="@{/create-new-addon.css}" href="../static/create-new-addon.css"/>

</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<div class="row">
    <!--<div class="creation-container">-->
    <div class="column">
        <div class="description-creation">
            <label>For fixes and new features, keep your add-ons up to date.</label>
            <br>


        </div>
    </div>
    <!--    <div class="creation-form">-->
    <div class="column">
        <form class="creation" action="#" th:action="@{'/addons/'+ ${id} + '/update'}" th:object="${AddonDTO}"
              th:method="post"  enctype="multipart/form-data">
            <h2 class="title-creation" th:text="#{update.addon}"></h2>
            <br>
            <input class="field-title" type="text" th:field="*{name}" placeholder="Name">
            <label style="color: red" th:errors="*{name}"></label>
            <br>
            <input class="field-title" type="text" th:field="*{description}" placeholder="Description">
            <label style="color: red" th:errors="*{description}"></label>
            <br>
            <input class="field-title" type="text" th:field="*{originLink}" placeholder="Origin Link">
            <br>
            <select class="field-title" th:field="*{ide}">
                <option value="" th:text="#{option.ide}"></option>
                <option th:each="ide : ${ides}"
                        th:value="${ide.getIDEName()}"
                        th:text="${ide.getIDEName()}"></option>
            </select>
            <br>
            <input th:type="file" name="file" th:field="*{file}" accept="file_extension"/>
            <br>
            <br>
            <div class="create-button">
                <button class="nav_button" th:text="#{update.addon}"></button>
            </div>
        </form>
    </div>

</div>
<!--</div>-->
<div th:insert="fragments/footer.html"></div>
</body>
</html>