<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/allUsers.css}" href="../static/allUsers.css"/>
    <title>All Users</title>
</head>
<body>

<div th:insert="fragments/navbar.html"></div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th th:text="#{users.username}">Username</th>
            <th th:text="#{users.fistName}">First Name</th>
            <th th:text="#{users.lastName}">Last Name</th>
            <th th:text="#{users.email}">Email</th>
            <th th:text="#{users.admin.delete}">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${allUsers}" th:if="${user.isEnabled()}">
            <td th:text="${user.getUsername()}">User username</td>
            <td th:text="${user.getFirstName()}">User First Name</td>
            <td th:text="${user.getLastName()}">User Last Name</td>
            <td th:text="${user.getEmail()}">User Email</td>
            <td>

                <form th:action="@{/users/{id}/delete(id=*{user.getId()})}" method="post">
                    <button type="submit" onclick="return confirm('Are you sure?')" th:text="#{users.admin.delete}"></button>
                </form>
            </td>
        </tr>
        <tbody>
    </table>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>